.timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  //padding: 5px 16px 16px 16px;
  white-space: nowrap;
  height: fit-content;
  width: fit-content;
}

.hourBlock {
  min-width: 140px;
  height: 20px;
  text-align: center;
}

.hourBlockLine {
  width: 5px;
  height: 100px;
  background: black;
  position: relative;
}

.timelineItem {
  border-left: 2px solid #000;
  padding-left: 16px;
  position: relative;
}