.sections {
  min-width: 200px;
  max-width: 200px;
  overflow-y: scroll;
  margin-top: 20px;
  flex-grow: 1;

}

.body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.timeLine {
  height: fit-content;
  min-height: 20px;
  padding: 0;
  overflow-x: scroll;
}

.grid {
  overflow: scroll;
  flex-grow: 1;
}

.leftPetal,
.rightPetal {
  position: absolute;
  top: 350px;
  width: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 200000;
  &:hover {
    background-color: #1876D2;
  }
}

.leftPetal {
  left: 220px;
}

.rightPetal {
  left: 65%;
}