.sections {
  min-width: 200px;
  max-width: 200px;
  overflow-y: scroll;
  margin-top: 20px;
  flex-grow: 1;
}

.body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.timeLine {
  background-color: #2196f3;
  height: fit-content;
  min-height: 20px;
  padding: 0;
  overflow-x: scroll;

}

.grid {
  overflow: scroll;
  flex-grow: 1;
}