.root {
  display: flex;
  align-items: center;
  margin-left: 8px;
  h2 {
    margin-left: 7px;
    font-weight: 200;
  }
  h3 {
    margin-left: 7px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.73);
  }
}